<ion-view title="Guaridan" id="page1">
    <ion-content padding="true" class="has-header">
        <ion-list id="home-list1">
            <ion-item class="item-avatar  " id="home-list-item1">
                <img src="img/U6VEAzB2SpOokuwTjDA8_Guardian_Logo-2.png">
                <h2>Guardian</h2>
                <p style="white-space:normal;">See Something? Say Something.</p>
            </ion-item>
        </ion-list>
        <div class="spacer" style="width: 300px; height: 17px;"></div>
        <form id="home-form5" class="list ">
            <label class="item item-input " id="home-input2">
                <span class="input-label">Time</span>
                <input type="time" placeholder="">
            </label>
            <label class="item item-input " id="home-input1">
                <span class="input-label">Date</span>
                <input type="date" placeholder="">
            </label>
        </form>
        <div class="spacer" style="width: 300px; height: 17px;"></div>
        <p id="home-markdown1" style="color:#000000;text-align:center;">
            <strong>Where did this happen?</strong>
        </p>
        <div class="spacer" style="width: 300px; height: 17px;"></div>
        <form id="home-form1" class="list ">
            <ion-item class="item-icon-right  " id="home-list-item2">Use my current location
                <i class="icon ion-ios-location"></i>
            </ion-item>
            <label class="item item-input " id="home-input4">
                <span class="input-label">Address</span>
                <input type="text" placeholder="">
            </label>
            <label class="item item-input " id="home-input3">
                <span class="input-label">Enter Address</span>
                <input type="text" placeholder="">
            </label>
            <div class="spacer" style="width: 300px; height: 60px;"></div>
            <div id="home-button-bar2" class=" button-bar ">
                <a href="tel:911" id="home-button4" style="font-weight:600;font-size:18px;border-radius:29px 29px 29px 29px;" class=" button button-assertive  button-block helpBtn">SEND HELP!</a>
                <a ui-sref="officerInfo" id="home-button6" style="border-radius:29px 29px 29px 29px;" class=" button button-calm  button-block homeSubmitBtn">SUBMIT</a>
            </div>
        </form>
        <div id="home-button-bar1" class=" button-bar "></div>
    </ion-content>
</ion-view>
