<ion-view title="Officer Info" id="page2">
  <ion-nav-bar class="bar-stable">
      <ion-nav-back-button class="button-icon icon ion-ios-arrow-back">Back</ion-nav-back-button>
  </ion-nav-bar>
    <ion-content padding="true" class="has-header">
        <form id="officerInfo-form3" class="list ">
            <ion-item class="item-avatar  " id="officerInfo-list-item3">
                <img src="img/U6VEAzB2SpOokuwTjDA8_Guardian_Logo-2.png">
                <h2>Guardian</h2>
                <p style="white-space:normal;">See Something? Say Something.</p>
            </ion-item>
            <div class="spacer" style="width: 300px; height: 23px;"></div>
            <label class="item item-input " id="officerInfo-input8">
                <span class="input-label">Officer Name:</span>
                <input type="text" placeholder="" ng-model="review.name">
            </label>
            <label class="item item-input " id="officerInfo-input6">
                <span class="input-label">Badge #:</span>
                <input type="number" placeholder="" ng-model="review.badgeNumber">
            </label>
            <label class="item item-select " id="officerInfo-select2">
                <span class="input-label">Select Officer Rank</span>
                <select ng-model="review.position">
                    <option>Officer</option>
                    <option>Investigator</option>
                    <option>Sergeant</option>
                    <option>Lieutenant</option>
                    <option>Captain</option>
                    <option>Major</option>
                    <option>Deputy Chief</option>
                    <option>Assistant Chief</option>
                    <option>Chief of Police</option>
                </select>
            </label>
            <label class="item item-select " id="officerInfo-select4">
                <span class="input-label">Gender</span>
                <select ng-model="review.gender">
                    <option>Female</option>
                    <option>Male</option>
                </select>
            </label>
            <label class="item item-select " id="officerInfo-select1">
                <span class="input-label">Ethnicity</span>
                <select ng-model="review.ethnicity">
                    <option>African American</option>
                    <option>Asian American</option>
                    <option>Hispanic or Latino</option>
                    <option>Native American</option>
                    <option>White American</option>
                    <option>Other</option>
                </select>
            </label>
        </form>
        <div class="spacer" style="width: 300px; height: 60px;"></div>
        <a ui-sref="review" id="officerInfo-button7" style="font-weight:450;font-size:18px;border-radius:29px 29px 29px 29px;" class=" button button-calm  button-block " ng-click="gotToReview()">NEXT</a>
    </ion-content>
</ion-view>
